DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=.vercel.app,ecofem.secora.dev
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.vercel.app,https://ecofem.secora.dev
DJANGO_TIME_ZONE=Africa/Nairobi
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=0
SITE_URL=https://ecofem.secora.dev
